<!DOCTYPE html>
<html>
<head>
    <title> Famous Quote Search </title>
</head>
<body>
<h1> Famous Quote Search </h1>
<form action="/quotes">

    Keyword: <input type="text" name="keyword">
    Category:
    <select name="category">
        <option> Select One</option>
        <% categories.forEach(function (i) { %>
            <option> <%= i.category %></option>
        <% }); %>
    </select>
    <button> Search!</button>

</form>
</body>
</html>