<!DOCTYPE html>
<html>
<head>
    <title> Famous Quote Search </title>
</head>
<body>
<h1> Famous Quote Search </h1>
<form action="/quotes">

    Keyword: <input type="text" name="keyword">
    <button> Search!</button>

</form>
</body>
</html>